html {
     height: 100%;
     background: radial-gradient(circle, #fff, #ccc);
}

#container{
     height: 400px;
     width: 500px;
     background-color: #9DD2EA;
     margin: 100px auto;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 4px 0px 0px #009de4;
     position: relative;
}

#score{
     background-color: #F1FF92;
     color: #888E5F;
     padding: 11px;
     position: absolute;
     left: 450px;
     box-shadow: 0px 4px #9da853;
}

#correct{
     position: absolute;
     left: 230px;
     background-color: #42e252;
     color: white;
     padding: 11px;
     display: none;
}

#wrong{
     position: absolute;
     left: 230px;
     background-color: #de481a;
     color: white;
     padding: 11px;
     display: none;
}

#question{
     width: 440px;
     height: 150px;
     margin: 50px auto 10px auto;
     background-color: #9DA0EA;
     box-shadow: 0px 4px #535aa8;
     font-size: 100px;
     text-align: center;
     line-height: 1.5;
     font-family: cursive, sans-serif;
     color: black;
}

#instruction{
     width: 400px;
     height: 50px;
     background-color: #B841D9;
     margin: 10px auto;
     text-align: center;
     line-height: 45px;
     box-shadow: 0px 4px #8153a8;
}

#choices{
     height: 100px;
     width: 450px;
     margin: 5px auto;
     border: solid 1px;
}

.box{
     width: 85px;
     height: 85px;
     background-color: white;
     float: left;
     margin-right: 36.6px;
     border-radius: 3px;
     cursor: pointer;
     box-shadow: 0px 4px rgba(0,0,0, 0.2);
     text-align: center;
     line-height: 80px;
}

.box:hover{
     color: white;
     background-color: #9C89F6;
     box-shadow: 0px 4px #6b54d3;
}

#box4{
     margin-right: 0px;
}
